<div class="container">
  
  <table border=1>
    <tr> 
      <td>Title</td>
      <td>Created at</td>
      <td>Created by</td>
    </tr>
    <% @types.each do |type| %>
      <tr> 
        <td><%= type.title %></td>
        <td><%= type.created_at %></td>
        <td><%= type.user.email %></td>
      </tr>
    <% end %>
  </table>

</div>
