<div class="container">
  
  <%= form_for @type do |f|%>
    <%= f.text_field :title, placeholder: "Title" %><br>
    <%= f.text_area :content, size: "70x30", placeholder: "Enter your content here" %>
    <%= f.submit "Create" %>
  <% end %>
  
</div>
