header {
  font-family: 'Fugaz One', cursive;
  background-color: black;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  font-family: 'Fugaz One', cursive;
}

header a:hover{
  color: green;
  text-decoration: underline;
}

.nav-right {
  float: right;
  padding-right: 50px;
}


.nav-right ul {
  list-style-type: none;
}

.nav-right li {
  display: inline;
  padding: 10px;
  font-family: 'Fugaz One', cursive;
}

.nav-left {
  float: left;
}

.nav-left ul {
  list-style-type: none;
}

.nav-left li {
  display: inline;
  padding: 10px;
  font-family: 'Fugaz One', cursive;
}







